/* Task 1 */
.button1{
  padding: 15px;
}

.svg1{
  width: 20px;
  height: 20px;
  background-image: url(./icon2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.svg2{
  width: 20px;
  height: 20px;
  background-image: url(./icon1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hey{
  width: 20px;
};

/* Task 3 */

.chat{
  margin: 0, auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top{
  display: flex;
  border: 2px solid green;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 40px;
}

.input{
  width: 150px;
  height: 25px;
  border: 2px solid darkgreen;
  padding: 0px 10px;
  border-radius: 10px;
}

.btn{
  color: aliceblue;
  background-color: darkgreen;
  border: 0px;
  padding: 8px 15px;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(0, 88, 0);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.output{
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  margin-top: 5px;
}

.message{
  color: aliceblue;
  margin: 3px 200px 3px 3px;
  background-color: darkgreen;
  padding: 8px 10px;
  border-radius: 10px;
}

.answer {
  color: aliceblue;
  background-color: rgb(4, 64, 90);
  padding: 8px 10px;
  border-radius: 10px;
  margin: 3px 5px 3px auto;
  width: 200px;
}

.state {
  color: chartreuse;
  font-style: italic;
  margin-left: 160px;
}

.error {
  color: red;
  margin-left: 160px;
}

.input-error{
  border: 2px solid rgb(240, 2, 2);
}